/* always work from the outside in */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600;900&display=swap");

@font-face {
  font-family: "porkysregular";
  src: url(/fonts/porkys_-webfont.woff2) format("woff2"),
    url(/fonts/porkys_-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

strong,
p,
h1,
h2 {
  font-family: "Nunito", sans-serif;
}

a:hover{
  text-decoration: none;
}

:root {
  --background: url(/images/pink-bg.jpg);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  font-family: "porkysregular";
}

.rotate {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  animation: rotation 4s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

html {
  overscroll-behavior-y: contain;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  /* disables horizontal scrolling */
}

header {
  position: fixed;
  width: 100%;
  z-index: 1234;
  padding-top: 1vh;
}

#hamburger-icon{
  padding-top: 1vh;
}

nav {
  display: flex;
  width: 100%;
  text-transform: uppercase;
  padding: 2vh;
}

nav a {
  text-decoration: none;
  position: relative;
  bottom: 35%;
}

nav>* {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 3px;
  margin: 0;
}

nav a:hover {
  color: white;
  cursor: pointer;
}

span{
  vertical-align: middle;
}

.title {
  font-family: "Nunito", sans-serif;
  white-space: nowrap;
  text-align: center;
  align-self: center;
  font-weight: bold;
  color: white;
  background-color: green;
  border: 10px solid green;
  margin: 5px 0px 0px 0px;
  width: 46%;
}

.demo-title {
  font-family: "Nunito", sans-serif;
  white-space: nowrap;
  text-align: center;
  align-self: center;
  font-weight: bold;
  color: white;
  background-color: green;
  border: 10px solid green;
  margin: 5px 0px 0px 0px;
}

.my-button {
  font-family: "Nunito", sans-serif;
  letter-spacing: 1px;
  border-radius: 50px;
  border: 2px solid #000;
  padding: 10px 25px;
  background: rgb(232, 51, 31);
  font-size: 2.5vh;
  color: yellow;
  font-weight: bold;
  cursor: pointer;
  align-items: center;
  align-content: center;
  align-self: center;
}

/* .example > .music-img {order: 1; } /* Will be displayed first  */
/* .example > .column {order: 3; } /* Will be displayed third */
/* .example > .button-container {order: 2; } /* Will be displayed second  */

  .nav-button {
    font-family: "porkysregular";
    text-decoration: none;
    letter-spacing: 2px;
    border-radius: 50px;
    border: 2px solid #000;
    padding: 5px 30px;
    background: rgb(232, 51, 31);
    color: yellow;
    font-weight: bold;
    cursor: pointer;
  }


/* can us :is() for these? */
.nav-button:hover {
  color: white;
}

.active{
  color: white;
}

/* ========== hamburger menu for mobile view ===========*/

#hamburger-icon {
  position: fixed;
  right: 10px;
  top: 1vh;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 40px;
  height: 3px;
  background-color: black;
  margin: 6px;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6pxm 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu {
  display: none;
  position: fixed;
  top: 0px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
  z-index: -1;
  /* keeps logo on top */
}

.mobile-menu li {
  margin: 2%;
  font-size: 8vh;
  height: 100%;
  list-style: none;
}

.mobile-menu a:hover {
  color: white;
}

#music-img {
  display: flex;
  width: 100%;
  max-width: 500px;
  height: auto;
  align-self: center;
}

.music-img-container {
  float: left;
}

main {
  width: 100%;
}

/* scrollbar 
body::-webkit-scrollbar {
  width: 1em;
  color: blue;
}

body::-webkit-scrollbar-button {
  color: gray;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #46474a;
  background: hsl(55, 100%, 49%);
}

body::-webkit-scrollbar-thumb {
  background: darkgray;
  -webkit-box-shadow: 7px 7px 0px 0px #000000;
  box-shadow: 7px 7px 0px 0px #000000;
  border-radius: 100vw;
}
*/

/* =======================================================*/

section{
  border: rgba(245, 225, 4, 0.987) 1px solid;
}

.section-inner {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
  text-align: center;
  justify-content: center;
}

.demo-container {
  flex-direction: column;
  position: relative;
  display: flex;
  float: left;
  left: 0;
}

.audio-container {
  display: flex;
  flex-direction: column;
  float: right;
  justify-content: center;
  align-self: center;
  align-items: center;
  height: auto;
  width: 100%;
}

/* fix section styling for bio section */



#hero {
  background-image: url(/images/amydrums1.JPG);
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

/*========= website border ===========*/
#top,
#bottom,
#left,
#right {
  background: var(--background);
  position: fixed;
  z-index: 123;
}

#left,
#right {
  top: 0;
  bottom: 0;
  width: 2vw;
}

#left {
  left: 0;
  border-right: 2px solid #000000;
}

#right {
  right: 0;
  border-left: 2px solid #000000;
}

#top,
#bottom {
  left: 0;
  right: 0;
}

#top {
  top: 0;
  height: 10vh;
  border-bottom: 2px solid #000000;
  
}

#bottom {
  bottom: 0;
  height: 2vh;
  border-top: 2px solid #000000;
}

/*==========================================*/

#video-bg,
#video-bg-1,
#projects-bg,
#loops-bg,
#photos-bg,
#contact-bg{
  background-size: cover;
  background-position: center;
  padding: 10vw;
}

#video-bg, #video-bg-1 {
  background-image: linear-gradient(rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.75)),
    url(/images/zigzag.jpg);
}

section #video-bg {
  display: flex;
  flex-wrap: wrap;
}

#video-bg video{
  width: 60%;
}

#video-bg p{
  width: 25%;
  
}

#projects-bg {
  background-image: linear-gradient(rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.75)),
    url(/images/purplecircles.JPG);
}

#loops-bg {
  background-image: linear-gradient(rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.75)),
    url(/images/bluebolts.JPG);
}

#photos-bg {
  background-image: linear-gradient(rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.75)),
    url(/images/Imagen7.jpg);
}

#preloader-bg {
  background: #20c02f;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 99999;
}

#preloader {
  background: url(/images/amyologogreen.png) no-repeat center center;
  background-size: 50%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 999999;
  animation: rotation 5s infinite linear;
}

.section-inner-hero {
  text-align: right;
  padding: 5%;
  width: 100vw;
  flex-basis: 100vh;
}

.logo {
  display: flex;
  height: auto;
  vertical-align: middle;
  height: 6.1vh;
  float: left;
}

#contact-info {
  display: flex;
}

.plane{
  position: relative;
  justify-content: center;
  bottom: 30vh;
}

#plane{
  justify-self: center;
  width: 100%;
  max-width: 700px;
  height: auto; 
}

#contact-bg {
  display: flex;
  position: relative;
  background-image: url(/images/clouds.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  padding: 5%;
  justify-content: center;
  align-items: center;
}

.text{
  position: absolute;
  text-align: center;
  padding: 1rem;
}

h2{
display: inline;
}

#amyo{
  animation: color-change 15s infinite;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.favicons {
  position: relative;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  left: 50%;
  transform: translateX(-50%);
}

 
  @keyframes marching-ants {
    0% {
      background-position: 0 0, 50px 100%, 0 50px, 100% 0;
    }

    100% {
      background-position: 50px 0, 0 100%, 0 0, 100% 50px;
    }
  }


 #title{
  width: 100%;
  padding: 10px 0px 0px 10px;
  align-self: center;
  color: yellow;
 }

  .dashed-border {
   width: 100%;
   max-width: 1280px;
  }

  .dashed-border-two{
    width: 100%;
    max-width: 500px;
  }
  
  #space{
   display: hidden;
   padding: 1vh;
  }

  #space-two{
    display: hidden;
    padding: 5vh;
  }

  div.dashed-border-one {
    background-color: #4086f4;
    width: 80vw; 
    max-width: 800px;
  }

  div.dashed-border-two{
    background-color: #dc4234;
    width: 80vw; 
    max-width: 800px;
  }
  
div.dashed-border-three{
  background-color: #f4b500;
  width: 80vw; 
  max-width: 800px;
}

div.dashed-border-four{
  background-color: #069e57;
  width: 52.3vw; 
  max-width: 800px;
}

  p.dashed-border, p.dashed-border-two{
    justify-content: center;
  }

.carousel{
  align-self: center;
}

.boxes{
  text-align: center;
  flex-direction: column;
}

#video-bg video{
  display: flex;
  height: auto;
  border: #0033ff 2px solid;
}

#video-bg p{
  margin: 0 auto;
}

.yt-channels{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.drum-chum,.bass-face,.sk8-m8,.fingrbrd {
  
  padding: 100px;
  margin: 20px;
}
.drum-chum{
  border: 10px solid rgb(37, 96, 221);
}

.bass-face{
  border: 10px solid rgb(219, 51, 51);
}

.sk8-m8{
  border: 10px solid rgb(251, 218, 0);
}

.fingrbrd{
  border: 10px solid rgb(38, 145, 6);
}

/* slideshow containers */
.drum-slider, .sk8-slider, .fingerbrd-slider{
  width: 180px;
  height: 320px;
  overflow: hidden;
}

.slider, .drum-slider, .sk8-slider, .bass-slider, .fingerbrd-slider{
  margin: auto;
}

.slider, .bass-slider{
  overflow: hidden;
  width: 320px;
  height: 180px;
}

.slider figure{
  position: relative;
  width: 809%;
  animation: 25s slider infinite;
}

/* grid area */
.slider{
  grid-area: slider;
}

.drum-slider{
  grid-area: drum-slider;
}

.sk8-slider{
  grid-area: sk8-slider;
}

.bass-slider{
  grid-area: bass-slider;
}

.fingerbrd-slider{
  grid-area: fingerbrd-slider;
}

.drum-slider figure{
  position: relative;
  animation: 11s drum-slider infinite;
}

.sk8-slider figure{
  position: relative;
  animation: 18s sk8-slider reverse infinite;
}

.bass-slider figure{
  position: relative;
  width: 505%;
  animation: 12s bass-slider reverse infinite;
}

.fingerbrd-slider figure{
  position: relative;
  animation: 18s fingerbrd-slider infinite;
}

.bass-slider{
  position: relative;
}

@keyframes slider{
  0%{
    left: 0;
  }
  12.5%{
    left: -102%;
  }
  17%{
    left: -102%;
  }
  25%{
    left: -202%;
  }
  30%{
    left: -202%;
  }
  37.5%{
    left: -303%;
  }
  42%{
    left: -303%;
  }
  50%{
    left: -406%;
  }
  55%{
    left: -406%;
  }
  62.5%{
    left: -506%;
  }
  67.5%{
    left: -506%;
  }
  75%{
    left: -607%;
  }
  80%{
    left: -607%;
  }
  89.5%{
    left: -709%;
  }
  
}

@keyframes drum-slider{
  0%{
  bottom: 0;
  }
 30%{
  bottom: 100%;
 }
 60%{
  bottom: 200%;
 }
 90%{
  bottom: 300%;
  }
 120%{
  bottom: 400%;
    }
}

@keyframes sk8-slider{
  0%{
    bottom: 0;
  }
  25%{
    bottom: 100%;
  }
  50%{
    bottom: 200%;
  }
  75%{
    bottom: 300%;
  }
  100%{
    bottom: 400%
  }
}

@keyframes bass-slider{
  0%{
    left: 0;
  }
  25%{
    left: -100%;
  }
  50%{
    left: -200%;
  }
  75%{
    left: -300%;
  }
  100%{
    left: -405%
  }
}


@keyframes fingerbrd-slider{
  0%{
    bottom: 0;
  }
  25%{
    bottom: 100%;
  }
  50%{
    bottom: 200%;
  }
  75%{
    bottom: 300%;
  }
  100%{
    bottom: 400%
  }
}

#programming-bg strong{
  animation: color-change 15s infinite;
}

@keyframes color-change {
  2% { color: #ff0000;}
  4%{color: #ff2b00;}
  8%{color: #ff5900;}
  12% { color: #ffae00;}
  16% {color: #ffdd00;}
  20% {color: #f7ff00;}
  24% {color: #9dff00;}
  28% {color: #73ff00;}
  32% {color: #48ff00;}
  36% { color: #00ff11;}
  40% {color: #00ff3c;}
  44% { color: #00ff6a;}
  48% { color: #00ffc4;}
  52% {color: #00ffee;}
  56% {color: #00e6ff; }
  60% {color: #008cff;}
  64% {color: #0062ff;}
  68% {color: #0033ff;}
  72% {color: #2200ff;}
  76% {color: #5100ff;}
  80% {color: #7b00ff;}
  84% {color: #cb57e2;}
  88% {color: #a94cbb;}
  92% {color: #8f2aa3;}
  96% {color: #741887;}
  100% {color: #4a014a;}
}

.yt-channels{
  align-self: center;
  padding: 2%;
}

/* when screen width is < 1000px, nav vanishes and hamburger menu shown instead */

@media only screen and (max-width: 1000px) {
  nav :nth-child(2),
  nav :nth-child(3),
  nav :nth-child(4),
  nav :nth-child(5),
  nav :nth-child(6)
  {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }

  nav *{
    display: flex;
    justify-content: left;
  }

  .mobile-menu {
    background: var(--background);
    height: 100%;
    width: 100%;
  }

  .logo {
    display: block;
    position: relative;
  }
  
}

.carousel-item img{
  width: 50%;
  height: auto;
}

#video-bg img {
 /* Just in case there are inline attributes */
 width: 100% !important;
 height: auto !important;
}


body {
 margin: 0;
 padding: 0;
}

@media only screen and (max-width: 700px) {
  .yt-channels{
    display: flex;
    flex-direction: column;
  }
}

footer{
  font-family: "Nunito", sans-serif;
  background: var(--background);
  padding: 1.5rem;
}

#footer-title{
  text-align: center;
}

.footer-text{
  padding: 1.2rem 1.4rem;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.gallery .project img{
  max-width: 25vw;
  height: auto;
}

.gallery .project{
  align-self: center;
}

.item1 { grid-area: project1; }
.item2 { grid-area: blurb1; }
.item3 { grid-area: project2; }
.item4 { grid-area: blurb2; }
.item5 { grid-area: project3; }
.item6 { grid-area: blurb3; }
.item7 { grid-area: project4; }
.item8 { grid-area: blurb4; }
.item9 { grid-area:p project5; }
.item10 { grid-area: blurb5; }


.gallery {
  display: grid;
  align-self: center;
  text-align: center;
  grid-template-areas: 'project1 project2 project3'
  'blurb1 blurb2 blurb3'
  'project4 project5 project6'
  'blurb4 blurb5 blurb6'
}

.grid-item, .grid-item p{
  
}

.grid-item{
  display: flex;
  border: #ff0095 3px solid;
}

#earth{
  max-width: 50px;
  height: auto;
}
