/* always work from the outside in */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600;900&display=swap");

@font-face {
  font-family: "porkysregular";
  src: url(/fonts/porkys_-webfont.woff2) format("woff2"),
    url(/fonts/porkys_-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

strong,
p {
  font-family: "Nunito", sans-serif;
}

:root {
  --background: url(/images/green-bg.jpg);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.logo{
  height: 9vh;
 
}

button {
  font-family: "porkysregular";
}

.rotate {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  animation: rotation 4s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

html {
  overscroll-behavior-y: contain;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  /* disables horizontal scrolling */
}

header {
  position: fixed;
  width: 100%;
  z-index: 1234;
}

#hamburger-icon{
  padding-top: 2vh;
}

nav {
  display: flex;
  width: 100%;
  text-transform: uppercase;
  padding: 2vh;
}

nav a {
  text-decoration: none;
  position: relative;
  bottom: 35%;
}

nav>* {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 3px;
  margin: 0;
}

nav a:hover {
  color: white;
  cursor: pointer;
}

span{
  vertical-align: middle;
}

span a {
  padding: 2vw;
}

.title {
  font-family: "Nunito", sans-serif;
  white-space: nowrap;
  text-align: center;
  align-self: center;
  font-weight: bold;
  color: white;
  background-color: green;
  border: 10px solid green;
  margin: 5px 0px 0px 0px;
  width: 46%;
}

#video-bg {
  padding-top: 10vh;
}

.demo-title {
  font-family: "Nunito", sans-serif;
  white-space: nowrap;
  text-align: center;
  align-self: center;
  font-weight: bold;
  color: white;
  background-color: green;
  border: 10px solid green;
  margin: 5px 0px 0px 0px;
}

.my-button {
  font-family: "porkysregular";
  letter-spacing: 1px;
  border-radius: 50px;
  border: 2px solid #000;
  padding: 10px 25px;
  background: rgb(232, 51, 31);
  font-size: 2.5vh;
  color: yellow;
  font-weight: bold;
  cursor: pointer;
  align-items: center;
  align-content: center;
  align-self: center;
}

/* .example > .music-img {order: 1; } /* Will be displayed first  */
/* .example > .column {order: 3; } /* Will be displayed third */
/* .example > .button-container {order: 2; } /* Will be displayed second  */

.nav-button {
  font-family: "porkysregular";
  text-decoration: none;
  letter-spacing: 2px;
  border-radius: 50px;
  border: 2px solid #000;
  padding: 5px 30px;
  background: rgb(232, 51, 31);
  color: yellow;
  font-weight: bold;
  cursor: pointer;
}


/* can us :is() for these? */
.nav-button:hover {
  color: white;
}

.active{
  color: white;
}

/* ========== hamburger menu for mobile view ===========*/

#hamburger-icon {
  position: fixed;
  right: 25px;
  top: 1vh;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 40px;
  height: 3px;
  background-color: black;
  margin: 6px;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6pxm 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu {
  display: none;
  position: fixed;
  top: 0px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
  z-index: -1;
  /* keeps logo on top */
}

.mobile-menu li {
  margin: 2%;
  font-size: 8vh;
  height: 100%;
  list-style: none;
}

.mobile-menu a:hover {
  color: white;
}

.programming-img #computer {
  max-width: 90%;
  height: auto; 
}

#music-img {
  display: flex;
  max-width: 30%;
  align-self: center;
  padding: 2%;
}

.music-img-container {
  float: left;
}

main {
  width: 100%;
}

/* scrollbar 
body::-webkit-scrollbar {
  width: 1em;
  color: blue;
}

body::-webkit-scrollbar-button {
  color: gray;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #46474a;
  background: hsl(55, 100%, 49%);
}

body::-webkit-scrollbar-thumb {
  background: darkgray;
  -webkit-box-shadow: 7px 7px 0px 0px #000000;
  box-shadow: 7px 7px 0px 0px #000000;
  border-radius: 100vw;
}
*/

/* =======================================================*/

.section-inner {
  padding: 1%;
  border: #fbda00 solid 3px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
  height: 100%;
  text-align: center;
  width: 100vw;
  justify-content: center;
}

.demo-container {
  flex-direction: column;
  position: relative;
  display: flex;
  float: left;
  left: 0;
}

.audio-container {
  display: flex;
  flex-direction: column;
  float: right;
  justify-content: center;
  align-self: center;
  align-items: center;
  border: purple solid 2px;
  height: auto;
  width: 40%;
  padding: 5%;
}

/* fix section styling for bio section */



#hero {
  background-image: url(/images/amydrums1.JPG);
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

/*========= website border ===========*/
#top,
#bottom,
#left,
#right {
  background: var(--background);
  position: fixed;
  z-index: 123;
}

#left,
#right {
  top: 0;
  bottom: 0;
  width: 2vw;
}

#left {
  left: 0;
}

#right {
  right: 0;
}

#top,
#bottom {
  left: 0;
  right: 0;
}

#top {
  top: 0;
  height: 10vh;
}

#bottom {
  bottom: 0;
  height: 2vh;
}

/*==========================================*/

#video-bg,
#blog-bg,
#loops-bg,
#programming-bg,
#bio-bg,
#photos-bg,
#contact-bg{
  background-size: cover;
  background-position: center;
}

#video-bg {
  background-image: linear-gradient(rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.75)),
    url(/images/IMG_1762.JPG);
}

#blog-bg {
  background-image: linear-gradient(rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.75)),
    url(/images/IMG_1757.JPG);
}

#loops-bg {
  background-image: linear-gradient(rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.75)),
    url(/images/IMG_1764.JPG);
}

#programming-bg {
  background-image: linear-gradient(rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.75)),
    url(/images/IMG_1760.jpg);
}

#bio-bg {
  background-image: linear-gradient(rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.75)),
    url(/images/IMG_1768.jpg);
}

#photos-bg {
  background-image: linear-gradient(rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.75)),
    url(/images/Imagen7.jpg);
}

#loops-bg{
  background-image: linear-gradient(rgba(255, 255, 255, 0.75),
   rgba(255, 255, 255, 0.75)),
   url(/images/loopbg.jpg);
}


#preloader-bg {
  background: #20c02f;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 99999;
}

#preloader {
  background: url(/images/amyologogreen.png) no-repeat center center;
  background-size: 50%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 999999;
  animation: rotation 5s infinite linear;
}

.section-inner-hero {
  text-align: right;
  padding: 5%;
  width: 100vw;
  flex-basis: 100vh;
}

.logo {
  display: flex;
  max-width: 55%;
  height: auto;
  vertical-align: middle;
  
}

#contact-info {
  display: flex;
 
}

#plane{
  /* scale both up and down on responsiveness */
  max-width: 100%;
  height: auto; 
}

.con-div {
  border: purple 1px solid;
}

#contact-bg {
  display: flex;
  position: relative;
  background-image: url(/images/clouds.jpg);
  height: 100vh;
  justify-content: center;
  background-repeat: no-repeat;
  padding: 5%;
}

.text{  
  text-align: center;
  align-items: center;
  transform: translateX(-35%);
  padding-top: 40vh;
}

.text #amyo{
  animation: color-change 15s infinite;
}

.favicons {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  left: 50%;
  transform: translateX(-50%);
}

.favicons img{
  padding: 1vw;
}

/* slideshow containers */
.drum-slider, .sk8-slider, .fingerbrd-slider{
  width: 180px;
  height: 320px;
  overflow: hidden;
}

.slider, .drum-slider, .sk8-slider, .bass-slider, .fingerbrd-slider{
  margin: auto;
}

.slider, .bass-slider{
  overflow: hidden;
  width: 320px;
  height: 180px;
}

.slider figure{
  position: relative;
  width: 809%;
  animation: 25s slider infinite;
}

/* grid area */
.slider{
  grid-area: slider;
}

.drum-slider{
  grid-area: drum-slider;
}

.sk8-slider{
  grid-area: sk8-slider;
}

.bass-slider{
  grid-area: bass-slider;
}

.fingerbrd-slider{
  grid-area: fingerbrd-slider;
}

.drum-slider figure{
  position: relative;
  animation: 11s drum-slider infinite;
}

.sk8-slider figure{
  position: relative;
  animation: 18s sk8-slider reverse infinite;
}

.bass-slider figure{
  position: relative;
  width: 505%;
  animation: 12s bass-slider reverse infinite;
}

.fingerbrd-slider figure{
  position: relative;
  animation: 18s fingerbrd-slider infinite;
}

.bass-slider{
  position: relative;
}

@keyframes slider{
  0%{
    left: 0;
  }
  12.5%{
    left: -102%;
  }
  17%{
    left: -102%;
  }
  25%{
    left: -202%;
  }
  30%{
    left: -202%;
  }
  37.5%{
    left: -303%;
  }
  42%{
    left: -303%;
  }
  50%{
    left: -406%;
  }
  55%{
    left: -406%;
  }
  62.5%{
    left: -506%;
  }
  67.5%{
    left: -506%;
  }
  75%{
    left: -607%;
  }
  80%{
    left: -607%;
  }
  89.5%{
    left: -709%;
  }
  
}

@keyframes drum-slider{
  0%{
  bottom: 0;
  }
 30%{
  bottom: 100%;
 }
 60%{
  bottom: 200%;
 }
 90%{
  bottom: 300%;
  }
 120%{
  bottom: 400%;
    }
}

@keyframes sk8-slider{
  0%{
    bottom: 0;
  }
  25%{
    bottom: 100%;
  }
  50%{
    bottom: 200%;
  }
  75%{
    bottom: 300%;
  }
  100%{
    bottom: 400%
  }
}

@keyframes bass-slider{
  0%{
    left: 0;
  }
  25%{
    left: -100%;
  }
  50%{
    left: -200%;
  }
  75%{
    left: -300%;
  }
  100%{
    left: -405%
  }
}


@keyframes fingerbrd-slider{
  0%{
    bottom: 0;
  }
  25%{
    bottom: 100%;
  }
  50%{
    bottom: 200%;
  }
  75%{
    bottom: 300%;
  }
  100%{
    bottom: 400%
  }
}

#programming-bg strong{
  animation: color-change 15s infinite;
}

@keyframes color-change {
  0% { color: rgb(255, 0, 0); }
  5%{color: rgb(134, 15, 15);}
  10%{color: rgb(175, 58, 0)}
  15% { color: rgb(209, 141, 15); }
  20% { color: rgb(224, 209, 9); }
  25% {color: rgb(255, 240, 25)}
  30% {color: rgb(199, 224, 7); }
  35% {color: #49ff01;}
  40% {color: rgb(1, 178, 69) }
  45% {color: rgb(8, 165, 205) }
  50% {color: rgb(62, 167, 247); }
  55% {color:rgb(55, 70, 239)}
  60% { color: rgb(11, 0, 223); }
  65% {color: rgb(50, 40, 160);}
  70% { color: rgb(51, 22, 140); }
  75% {color: rgb(118, 41, 212);}
  80% { color: rgb(159, 85, 229); }
  85% {color: rgb(185, 13, 237);}
  90% {color: rgb(217, 61, 223); }
  95% {color: rgb(209, 31, 114);}
  100% {color: rgb(238, 51, 79); }
}

.yt-channels{
  align-self: center;
  padding: 2%;
}

/* when screen width is < 1000px, nav vanishes and hamburger menu shown instead */

@media only screen and (max-width: 1000px) {
  nav :nth-child(2),
  nav :nth-child(3),
  nav :nth-child(4),
  nav :nth-child(5),
  nav :nth-child(6)
  {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }

  nav *{
    display: flex;
    justify-content: left;
  }

  .mobile-menu {
    background: var(--background);
    height: 100%;
    width: 100%;
  }

  .logo {
    display: block;
    position: relative;
  }
  
  .yt-channels{
    display: flex;
    flex-direction: column;
  }
}

.carousel-item img{
  width: 50%;
  height: auto;
}

#video-bg {
  /* Prevent vertical gaps */
  line-height: 0;
  
  -webkit-column-count: 5;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         5;
  column-gap:           0px;
}

#video-bg img {
 /* Just in case there are inline attributes */
 width: 100% !important;
 height: auto !important;
}

@media (max-width: 1200px) {
 #video-bg {
 -moz-column-count:    4;
 -webkit-column-count: 4;
 column-count:         4;
 }
}
@media (max-width: 1000px) {
 #video-bg {
 -moz-column-count:    3;
 -webkit-column-count: 3;
 column-count:         3;
 }
}
@media (max-width: 800px) {
 #video-bg {
 -moz-column-count:    2;
 -webkit-column-count: 2;
 column-count:         2;
 }
}
@media (max-width: 400px) {
 #video-bg {
 -moz-column-count:    1;
 -webkit-column-count: 1;
 column-count:         1;
 }
}

body {
 margin: 0;
 padding: 0;
}